#queue_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#beer_pictures {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#queue img {
  width: 3.5vw;
  margin-right: 1.5vw;
}

//IPAD
@media screen and (min-width: 1000px) {
  #queue img {
    width: 4.5vw;
  }
}
