#queue_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#queue_number {
  line-height: -2;
  padding: 2vh 2vw 0vh 2vw;
  margin-left: 1vw;
}

#queue img {
  width: 5vw;
  margin-right: 1.5vw;
}
