#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content img {
  width: 9vw;
  align-self: center;
}

#stock,
#stock1,
#stock2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#content p {
  text-align: center;
}

#content h3 {
  text-align: center;
  margin-bottom: 1vh;
}

#content p:first-of-type {
  font-family: var(--handwritten_font);
  margin-bottom: 4vh;
}

#storage img {
  width: auto;
  height: 27vh;
}

//IPAD
@media screen and (min-width: 1000px) {
  #storage img {
    width: auto;
    height: 20vh;
  }
}
