#content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content img {
  width: 9vw;
  align-self: center;
}

#stock,
#stock1,
#stock2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#content p {
  text-align: center;
}

#content h3 {
  text-align: center;
  margin-bottom: 1vh;
}

#content p:first-of-type {
  font-family: var(--handwritten_font);
  margin-bottom: 4vh;
}

#storage img {
  width: auto;
  height: 27vh;
}

//SMALL PHONE
@media screen and (max-width: 570px) {
}

//BIG PHONE
@media screen and (min-width: 800px) {
}

//IPAD
@media screen and (min-width: 1000px) {
  #storage img {
    width: auto;
    height: 20vh;
  }
}

//1280 - 800
@media screen and (min-width: 1260px) {
  #storage img {
    height: 25vh;
  }

  #stock,
  #stock1,
  #stock2 {
    margin-top: 2vh;
  }
}

//1420 - 900
@media screen and (min-width: 1420px) {
  #stock,
  #stock1,
  #stock2 {
    margin-top: 0.5vh;
  }
}

//1530
@media screen and (min-width: 1530px) {
}

//1920 - 1080
@media screen and (min-width: 1900px) {
}

//3440 - 1040
@media screen and (min-width: 3400px) {
}
