#queue_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#beer_pictures {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#queue img {
  width: 4vw;
  margin-right: 1.5vw;
}

//SMALL PHONE
@media screen and (max-width: 570px) {
}

//BIG PHONE
@media screen and (min-width: 800px) {
}

//IPAD
@media screen and (min-width: 1000px) {
  #queue img {
    width: 5vw;
  }
}

//1280 - 800
@media screen and (min-width: 1260px) {
  #queue img {
    width: 3vw;
  }

  #beer_pictures {
    margin-top: 0.5vh;
  }
}

//1420 - 900
@media screen and (min-width: 1420px) {
  #queue img {
    width: 4vw;
  }

  #beer_pictures {
    margin-top: 1vh;
  }
}

//1530
@media screen and (min-width: 1530px) {
  #queue img {
    width: 3vw;
  }

  #beer_pictures {
    margin-top: 0.5vh;
  }
}

//1920 - 1080
@media screen and (min-width: 1900px) {
  #queue img {
    width: 3.5vw;
  }

  #beer_pictures {
    margin-top: 2vh;
  }
}

//3440 - 1040
@media screen and (min-width: 3400px) {
  #queue img {
    width: 1vw;
  }
}
