// #bartenders {
//   float: left;
//   text-align: center;
//   display: flex;
//   flex-direction: row;
//   width: 60vw;
//   height: 45vh;
// }

.content {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
}

.col_left {
  display: flex;

  align-items: center;

  flex-direction: column;
}

#bartenders img {
  width: 10vw;
}

.col_right {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}

.col_right .box {
  display: flex;

  flex-direction: column;

  text-align: center;
}

.hide {
  display: none;
}
