#clock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
}

#countdown_text {
  margin-top: 7vh;
  text-align: center;
}

.clock {
  display: flex;
  width: 110px;
  height: 110px;
  justify-content: center;
  align-items: center;
  background: url(/img/analog_ur.svg);
  background-size: cover;
  border: 4px solid #bf8b2a;
  border-radius: 50%;
  box-shadow: -4px -4px 10px #f2c029, inset 4px 4px 10px #f2c029,
    inset -4px -4px 10px #f2c029, 4px 4px 10px #f2c029;
}

.clock:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 60px;
  height: 60px;
}

.clock .min,
.mn {
  width: 90px;
  height: 90px;
}

.clock .sec,
.sc {
  width: 100px;
  height: 100px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background: white;
  z-index: 9;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 45px;
  background: white;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background: #bf8b2a;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

//SMALL PHONE
@media screen and (max-width: 570px) {
  #countdown_text {
    margin-top: 4vh;
  }

  .clock {
    width: 90px;
    height: 90px;
  }

  .clock:before {
    width: 3px;
    height: 3px;
  }

  .clock .hour,
  .hr {
    width: 60px;
    height: 60px;
  }

  .clock .min,
  .mn {
    width: 100px;
    height: 100px;
  }

  .clock .sec,
  .sc {
    width: 120px;
    height: 120px;
  }

  .hr:before {
    width: 1.5px;
    height: 20px;
  }

  .mn:before {
    width: 1.5px;
    height: 40px;
  }

  .sc:before {
    width: 0.5px;
    height: 45px;
  }
}

//BIG PHONE
@media screen and (min-width: 800px) {
}

//IPAD
@media screen and (min-width: 1000px) {
  #countdown_text {
    margin-top: 8vh;
  }

  .clock {
    width: 160px;
    height: 160px;
  }

  .clock:before {
    width: 5px;
    height: 5px;
  }

  .clock .hour,
  .hr {
    width: 80px;
    height: 80px;
  }

  .clock .min,
  .mn {
    width: 125px;
    height: 125px;
  }

  .clock .sec,
  .sc {
    width: 140px;
    height: 140px;
  }

  .hr:before {
    width: 3px;
    height: 40px;
  }

  .mn:before {
    width: 3px;
    height: 65px;
  }

  .sc:before {
    width: 1px;
    height: 70px;
  }
}

//1280 - 800
@media screen and (min-width: 1260px) {
  .clock {
    width: 190px;
    height: 190px;
  }

  .clock:before {
    width: 8px;
    height: 8px;
  }

  .clock .hour,
  .hr {
    width: 90px;
    height: 90px;
  }

  .clock .min,
  .mn {
    width: 150px;
    height: 150px;
  }

  .clock .sec,
  .sc {
    width: 160px;
    height: 160px;
  }

  .hr:before {
    width: 4px;
    height: 45px;
  }

  .mn:before {
    width: 4px;
    height: 75px;
  }

  .sc:before {
    width: 2px;
    height: 80px;
  }
}

//1420 - 900
@media screen and (min-width: 1420px) {
}

//1600
@media screen and (min-width: 1600px) {
}

//1920 - 1080
@media screen and (min-width: 1900px) {
  #countdown_text {
    margin-top: 4vh;
  }

  .clock {
    width: 290px;
    height: 290px;
  }

  .clock:before {
    width: 12px;
    height: 12px;
  }

  .clock .hour,
  .hr {
    width: 130px;
    height: 130px;
  }

  .clock .min,
  .mn {
    width: 190px;
    height: 190px;
  }

  .clock .sec,
  .sc {
    width: 200px;
    height: 200px;
  }

  .hr:before {
    width: 4px;
    height: 70px;
  }

  .mn:before {
    width: 4px;
    height: 100px;
  }

  .sc:before {
    width: 2px;
    height: 105px;
  }
}
