//----------FRONTPAGE-----------------//

#form_forside {
  background-image: url(/img/form_frontpage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#form_forside nav {
  position: unset;
  width: 100%;
}

#form_forside #top_nav {
  background-color: unset;
  justify-content: space-between;
}

#content_flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 31vh;
}

#content_flex h1,
#content_flex h2,
#content_flex #btn {
  align-self: center;
}

#content_flex h1 {
  line-height: 0vw;
  font-size: 4rem;
}

#content_flex h2 {
  color: white;
  line-height: 0vw;
  font-size: 2rem;
}

#btn {
  padding-left: 9vh;
  padding-right: 9vh;
  border-radius: 24px;
  border: solid;
  border-color: var(--yellow);
  background: transparent;
  color: white;
  font-family: "marydale";
  font-weight: 900;
  font-size: 1rem;
  margin-top: 15vh;
  cursor: pointer;
}
#form_forside #btn:hover {
  background-color: #f2c0292a;
  transition: 0.2s ease-in;
}

button#dashboard_btn {
  cursor: pointer;
  padding-left: 3vh;
  padding-right: 3vh;
  border-radius: 24px;
  border: solid;
  border-color: transparent;
  background: transparent;
  color: white;
  font-family: "marydale";
  font-weight: 900;
  font-size: 0.8rem;
  margin-top: 5vh;
}

button#dashboard_btn:hover {
  color: var(--yellow);
  transition: 0.2s ease-in;
}

#form_forside ::before {
  font-size: 3vh;
}

#form_forside #right_container {
  display: unset;
  grid-template-columns: unset;
}

//------------------------------------------//
//                 MEDIAQUIRES             //
//----------------------------------------//

//mobile M
@media screen and (min-width: 375px) {
}

//mobile L
@media screen and (min-width: 425px) {
}

//tablet
@media screen and (min-width: 768px) {
  #form_forside #content_flex h1 {
    line-height: 0vw;
    font-size: 6rem;
  }

  #form_forside #content_flex {
    margin-top: 26vh;
  }

  #form_forside #btn {
    font-size: 1.5rem;
  }

  #form_forside #btn {
    padding: 3vh 10vh;
  }

  #form_forside #content_flex h2 {
    font-size: 2.7rem;
  }
}

//laptop
@media screen and (min-width: 1024px) {
}

//laptop L
@media screen and (min-width: 1440px) {
  #form_forside #content_flex h1 {
    font-size: 7.5rem;
  }

  #form_forside #content_flex h2 {
    font-size: 3.7rem;
  }

  #form_forside #btn {
    margin-top: 7vh;
    padding: 3.5vh 7vh;
  }

  #form_forside #content_flex {
    margin-top: 21vh;
  }
}

//4k
@media screen and (min-width: 2560px) {
}
