#kurv .cart_summary {
  margin-top: 20vh;
  text-align: center;
  margin-bottom: 20vh;
}

#kurv #btns_container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

#kurv #btns_container button {
  min-width: 12vw;
}

#kurv button {
  min-width: 25vw;
}

#kurv #beer {
  align-self: center;
}

#kurv #beer_box {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  justify-items: center;
}

#kurv_page #beer_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#kurv_page h2 {
  line-height: 0;
  font-size: 1.2rem;
  margin-top: 3.5vh;
}

#kurv_page #left_column h2 {
  text-align: start;
}

#kurv_page p:nth-child(2) {
  text-align: start;
}

#kurv_page #beer_btns p {
  text-align: center;
}

#kurv_page h3 {
  line-height: 0;
  font-size: 0.8rem;
  text-align: start;
}

//------------------------------------------//
//                 MEDIAQUIRES             //
//----------------------------------------//

//mobile M
@media screen and (min-width: 375px) {
}

//mobile L
@media screen and (min-width: 425px) {
}

//tablet
@media screen and (min-width: 768px) {
  #kurv_page h2 {
    line-height: 0.5;
    font-size: 2.2rem;
  }
}

//laptop
@media screen and (min-width: 1024px) {
}

//laptop L
@media screen and (min-width: 1440px) {
}

//4k
@media screen and (min-width: 2560px) {
}
