#kurv .cart_summary {
  margin-top: 23vh;
  text-align: center;
  margin-bottom: 20vh;
}

#kurv #btns_container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

#kurv #btns_container button {
  min-width: 12vw;
}

#kurv button {
  min-width: 25vw;
  padding: 2.3vh 4.5vh;
}

#kurv #beer {
  align-self: center;
}

#kurv_page #beer_box {
  display: grid;
  grid-template-rows: 1fr 0.6fr;
  justify-items: center;
}

#kurv_page #beer_info {
  margin-top: unset;
}

#kurv_page #beer_info h2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#kurv_page h2 {
  line-height: 0.5;
  font-size: 1.2rem;
  margin-top: 3.5vh;
}

#kurv_page #left_column h2 {
  text-align: start;
}

#kurv_page p:nth-child(2) {
  text-align: start;
}

#kurv_page #beer_btns p {
  text-align: center;
}

#kurv_page h3 {
  line-height: 1.5;
  font-size: 0.8rem;
  text-align: start;
}

#kurv_page p.head2 {
  font-family: var(--handwritten_font);
  color: var(--yellow);
}

//------------------------------------------//
//                 MEDIAQUIRES             //
//----------------------------------------//

//mobile M
@media screen and (min-width: 375px) {
}

//mobile L
@media screen and (min-width: 425px) {
}

//tablet
@media screen and (min-width: 768px) {
  #kurv_page h2 {
    line-height: 0;
    font-size: 2.2rem;
    margin-bottom: 5vh;
  }

  #kurv_page h3 {
    line-height: 0.2;
    font-size: 1.8rem;
  }

  #kurv_page p:nth-child(2) {
    font-size: 1.8rem;
  }

  #kurv_page #beer_btns p {
    font-size: 1.8rem;
  }

  #kurv_page #left_column h2 {
    margin-top: 4vh;
  }

  #kurv_page #price_total p {
    font-size: 1.5rem;
    margin-top: 6vh;
  }

  #kurv_page p.head2 {
    font-size: 1.7rem;
    margin-top: -3vh;
  }
}

//laptop
@media screen and (min-width: 1024px) {
  #kurv .cart_summary {
    margin-top: 17vh;
  }

  #kurv_page #beer_info h3 {
    margin-top: 1vh;
  }

  #kurv_page p.head2 {
    font-size: 1.7rem;
    margin-top: -2vh;
  }
  #kurv button {
    min-width: 16vh;
  }
}

//laptop L
@media screen and (min-width: 1440px) {
}

//4k
@media screen and (min-width: 2560px) {
}
