//----------MENU-----------------//

#menu_page {
  margin: 0;
}

#menu_page #menu {
  margin-left: 2vh;
  margin-right: 2vh;
}

#beer_box {
  display: grid;
  justify-content: space-around;
  max-height: 35%;
  // margin-top: 5vh;
}
.more_body {
  background-color: #00000073;
  margin-top: -15vh;
  padding: 2vh;
  line-height: 3vh;
}

#beer {
  height: 37vh;
  place-self: center;
}

#beer_btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vh;
  justify-self: center;
  margin-top: -2vh;
}

#btns_container {
  display: grid;
  /* flex-direction: row; */
  /* align-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
}

#menu #beer_box:first-of-type {
  margin-top: 20vh;
}

.hide {
  display: none;
}

#button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 17vh;
  margin-top: 3vh;
}

div#test {
  display: flex;
  justify-content: center;
}

#menu_page button {
  padding: 2vh;
}

.counter_display {
  padding: 0.7vh;
  text-align: center;
}

#beer_info h2 {
  margin-top: 1vh;
  text-align: center;
}

p.alcohol_procent {
  text-align: center;
  margin-top: -2vh;
}

#beer_info h3 {
  margin-top: -1vh;
  text-align: center;
}

// img#beer {
//   width: 45%;
//   height: auto;
// }

#menu_page footer {
  position: static;
}

.a-up-down {
  animation: k-up-down 1s infinite alternate;
}

p#amount_in_basket {
  background-color: green;
  border-radius: 8vh;
  position: absolute;
  right: 1.5%;
  top: 7%;
  padding: 0.1vh 0.8vh;
  font-size: 1.9vh;
}
#menu_page #nav_icon {
  margin-top: 0;
}

#menu_page h1 {
  color: white;
}
//------------------------------------------//
//                 MEDIAQUIRES             //
//----------------------------------------//

//mobile M
@media screen and (min-width: 375px) {
}

//mobile L
@media screen and (min-width: 425px) {
  p#amount_in_basket {
    right: 2.5%;
    top: 7%;
  }
}

//tablet
@media screen and (min-width: 768px) {
  section.beer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20vh;
    grid-gap: 10vh;
  }

  #menu #beer_box:first-of-type {
    margin-top: unset;
  }

  #menu_page #nav_icon {
    margin-top: -0.6vh;
  }

  p#amount_in_basket {
    right: 2.7%;
    top: -2%;
  }
}

//laptop
@media screen and (min-width: 1024px) {
  p#amount_in_basket {
    right: 2.7%;
    top: -8%;
  }
}

//laptop L
@media screen and (min-width: 1440px) {
  p#amount_in_basket {
    right: 3%;
    top: -2%;
  }
}

//4k
@media screen and (min-width: 2560px) {
}

.beerBody .summary {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2rem;
  grid-column-gap: 1rem;
}

.beerBody summary {
  display: block;
  padding: 0;
}

.beer_container {
  .down {
    grid-area: down;
    padding-bottom: 0.5rem;
    .name {
      padding-top: 0.8rem;
    }
  }
}
.category {
  grid-area: cat;
  display: flex;
  flex-wrap: nowrap;
  .head2 {
    padding-right: 0.5rem;
  }
}

.alcohol {
  grid-area: alc;
  display: flex;
  flex-wrap: nowrap;
  justify-self: flex-end;
  .head2 {
    padding-right: 0.5rem;
  }
}

//   details {
//     padding: 0rem 1rem 0.75rem;
//   }

//   padding: 2rem 0 0.2rem;
//   // display: block;
//   .label {
//     margin: 0 0 2rem;
//   }
// }

.beer_heading {
  padding: 0rem;
}

p.disclamer {
  padding-bottom: 1rem;
}

.beer_wrapper {
  padding: 1rem 1rem calc(1rem + 70px) 1rem;
  width: 100%;
}

.product_right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  .buy_beer {
    align-self: flex-end;
    width: 12rem;
  }

  @media (min-width: 500px) {
    .beer_container {
      .more_body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "txt1 txt2";
        grid-column-gap: 1rem;
      }
      .more_body .label {
        grid-area: pic;
        margin-bottom: 0.5rem;
        max-width: 250px;
      }
      .product_txt:nth-child(2) {
        grid-area: txt1;
      }
      .product_txt:nth-child(3) {
        grid-area: txt2;
      }
      .buy_beer {
        width: 8rem;
      }
      .product_right {
        justify-self: flex-end;
      }
      .alcohol {
        justify-self: flex-start;
      }
    }
  }
  @media (min-width: 800px) {
    .beer_container {
      .more_body {
        margin-bottom: 0;
        grid-template-columns: 2.5fr 2fr;
        grid-template-rows: 1fr 0.1fr;
        grid-column-gap: 2rem;
      }

      .more_body .label {
        grid-area: pic;
        margin-bottom: 0;
        padding: 0;
      }

      .down .name {
        padding: 0.4rem 0 0 2.5rem;
      }

      details {
        padding-top: 1rem;
      }

      .product_txt:nth-child(2) {
        grid-area: txt1;
        padding-left: 4rem;
      }
      .product_txt:nth-child(3) {
        grid-area: txt2;
      }
      .buy_beer {
        width: 8rem;
      }
      .product_right {
        justify-self: flex-end;
      }
    }
  }

  .beerBody .summary {
    padding: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-template-areas: "down cat alc";
  }

  @media (min-width: 1000px) {
    .beer_container {
      .more_body {
        grid-template-columns: 2.5fr 2fr;
      }
    }
  }
}
