:root {
  --handwritten_font: marydale, sans-serif;
  --sansserif_font: raleway, sans-serif;
  --yellow: #f2c029;
  --gold: #bf8b2a;
}

#form_forside {
  background-image: url(/img/form_frontpage.jpg);
  //   background-size: fill;
  //   position: fixed;
}

//-----------FONTS----------------//
h1 {
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

h2 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

//----------FRONTPAGE-----------------//
#content_flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15vh;
}

#content_flex h1,
#content_flex h2,
#content_flex #btn {
  align-self: center;
}

#content_flex h1 {
  line-height: 0vw;
  font-size: 4rem;
}

#content_flex h2 {
  color: white;
  line-height: 0vw;
  font-size: 2rem;
}

#btn {
  padding-left: 9vh;
  padding-right: 9vh;
  border-radius: 24px;
  border: solid;
  border-color: var(--yellow);
  background: transparent;
  color: white;
  font-family: "marydale";
  font-weight: 900;
  font-size: 1rem;
  margin-top: 24vh;
}
