@use 'partials/bekraeftelse';
@use 'partials/betaling';
@use 'partials/forside';
@use 'partials/kurv';
@use 'partials/menu';

:root {
  --handwritten_font: marydale, sans-serif;
  --sansserif_font: raleway, sans-serif;
  --yellow: #f2c029;
  --gold: #bf8b2a;
}

//-----------Generel----------------//
button {
  cursor: pointer;
  height: 4vh;
  border-radius: 24px;
  border: solid;
  border-color: var(--yellow);
  background: transparent;
  color: white;
  font-family: "marydale";
  font-weight: 900;
  font-size: 1rem;
  align-self: center;
  line-height: 0;
}

#bottom_btn {
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(/img/dark_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}

#top_nav {
  width: 100vw;
  justify-content: space-around;
  background-color: var(--gold);
  display: flex;
  flex-direction: row;
}

#nav_icon {
  width: 10vw;
}

#tilbage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

i.fa.fa-shopping-basket {
  align-self: center;
}

footer {
  background-color: var(--gold);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  justify-content: space-around;
}

.fa {
  padding: 1vh;
}

::before {
  color: white;
  font-size: 5vh;
}

#some,
#contact {
  align-self: center;
}

//-----------FONTS----------------//

#logo {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: bold;
  color: white;
  font-size: 1.5rem;
}

h1 {
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

h2 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

h3 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: white;
}

h4 {
  font-family: var(--sansserif_font);
  font-style: bold;
  color: white;
}

p {
  font-family: var(--sansserif_font);
  font-style: normal;
  color: white;
}

label {
  color: var(--yellow);
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-size: 1.2rem;
}

// //----------FRONTPAGE-----------------//

// #form_forside {
//   background-image: url(/img/form_frontpage.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
// }

// #form_forside #top_nav {
//   background-color: unset;
//   justify-content: space-between;
//   padding: 2vh;
//   width: 93vw;
// }

// #content_flex {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 15vh;
// }

// #content_flex h1,
// #content_flex h2,
// #content_flex #btn {
//   align-self: center;
// }

// #content_flex h1 {
//   line-height: 0vw;
//   font-size: 4rem;
// }

// #content_flex h2 {
//   color: white;
//   line-height: 0vw;
//   font-size: 2rem;
// }

// #btn {
//   padding-left: 9vh;
//   padding-right: 9vh;
//   border-radius: 24px;
//   border: solid;
//   border-color: var(--yellow);
//   background: transparent;
//   color: white;
//   font-family: "marydale";
//   font-weight: 900;
//   font-size: 1rem;
//   margin-top: 24vh;
// }

// //----------MENU-----------------//

// #beer_box {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   margin-bottom: 10vh;
// }

// #beer {
//   height: 25vh;
// }

// #beer_btns {
//   display: flex;
//   justify-content: end;
//   flex-direction: column;
//   padding-bottom: 2vh;
// }

// #btns_container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// #beer_box:first-of-type {
//   margin-top: 20vh;
// }

// //----------BEKRAEFTELSE-------------//
// #bekraeftelse #top_nav {
//   background-color: unset;
//   justify-content: space-between;
//   padding: 2vh;
//   width: 93vw;
// }

// #bekraeftelse {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 7vh;
// }

// #bekraeftelse h1 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   font-weight: 900;
//   font-style: normal;
//   font-size: 3rem;
//   color: var(--yellow);
// }

// #bekraeftelse h2 {
//   text-align: center;
//   font-family: var(--handwritten_font);
//   color: white;
//   margin-top: -4vh;
// }

// #bekraeftelse h3 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   color: var(--yellow);
//   font-size: 3rem;
//   line-height: 0;
// }

// #bekraeftelse p {
//   text-align: center;
//   font-family: var(--handwritten_font);
//   font-size: 0.9rem;
// }

// #bekraeftelse h4 {
//   text-align: center;
//   font-size: 0.5rem;
//   margin-top: 11vh;
// }

// #bekraeftelse h5 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   color: white;
//   line-height: 0;
//   margin-bottom: -1.5vh;
//   font-weight: 300;
//   font-style: normal;
//   font-size: 1.5rem;
// }

// #bekraeftelse button {
//   padding: 2vh 4vh;
// }

// /******Betaling******/

// #kort_oplysninger {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 30vh;
// }
