@use 'partials/dashboard-tid';
@use 'partials/dashboard-bestillinger';
@use 'partials/dashboard-beholdning';
@use 'partials/dashboard-ko';
@use 'partials/dashboard-bartender';

:root {
  --handwritten_font: marydale, sans-serif;
  --sansserif_font: raleway, sans-serif;
  --yellow: #f2c029;
  --gold: #bf8b2a;
  --dark_overlay: #000000bb;
}

#logo {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: bold;
  color: white;
  font-size: 1.5rem;
}

h1 {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: normal;
  color: var(--yellow);
  line-height: 0;
}

h2 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
  line-height: 0;
  margin-bottom: 8vh;
  text-align: center;
  font-size: 1.3rem;
}

h3 {
  font-family: var(--sansserif_font);
  font-weight: 600;
  font-style: normal;
  color: var(--yellow);
  line-height: 0;
  font-size: 0.8rem;
}

h4 {
  font-family: var(--sansserif_font);
  font-style: bold;
  color: var(--yellow);
  line-height: 0;
}

p {
  font-family: var(--sansserif_font);
  font-style: normal;
  color: white;
  line-height: 0;
  font-weight: 700;
  font-size: 0.8rem;
}

label {
  color: var(--yellow);
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-size: 1.2rem;
}

.fa-gear::before,
.fa-cog::before {
  color: var(--yellow);
  font-size: 1.5rem;
}

#countdown {
  color: white;
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-size: 1rem;
}

//*******GENEREL******//

#portraetmode {
  background-color: #bf8b2ab2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
}

body {
  background-image: url(/img/background.jpg);
  background-size: cover;
  // position: fixed;
  padding: 2vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

#top {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2.5fr;
  grid-gap: 2vw;
  margin-bottom: 7vh;
}

#bottom {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  grid-gap: 2vw;
  margin-bottom: 6vh;
}

.col-sm,
.col-sm1,
.col-sm2 {
  display: flex;
  align-items: start;
  height: 100%;
  padding: 2vh 1vw;
  background-color: var(--dark_overlay);
  border-radius: 25px;
}

.col-sm1,
.col-sm2 {
  padding: 2vh 2vw;
  min-height: 30vh;
}

#clock,
#ready_orders,
#storage,
#queue,
#bartenders {
  width: 100%;
  min-height: 100%;
}

// @media screen and (max-width: 420px) {
//   #top {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 2vh;
//   }

//   #bottom {
//     display: flex;
//     flex-direction: column;
//   }
//   .col-sm,
//   .col-sm1,
//   .col-sm2 {
//     margin-bottom: 2vh;
//   }
// }
