@use 'partials/bekraeftelse';
@use 'partials/betaling';
@use 'partials/forside';
@use 'partials/kurv';
@use 'partials/menu';
@use 'partials/kvittering';

:root {
  --handwritten_font: marydale, sans-serif;
  --sansserif_font: raleway, sans-serif;
  --yellow: #f2c029;
  --gold: #bf8b2a;
  --white: #ffffff;
  --bgimage: url("/img/dark_background.jpg");
  --black: #00000098;
}

[data-theme="light"] {
  --yellow: #6b4f0c;
  --white: #000000;
  --bgimage: url("/img/white_background.jpg");
  --black: #ffffffa9;
}

//-----------Generel----------------//

/// toggle button

button {
  cursor: pointer;
  height: 5vh;
  border-radius: 24px;
  border: solid;
  border-color: var(--yellow);
  background: transparent;
  color: var(--white);
  font-family: "marydale";
  font-weight: 900;
  font-size: 1rem;
  align-self: center;
  line-height: 0;
}

#bottom_btn {
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
}
#bottom_btn button:hover,
.beer_container button:hover,
#buy_button button:hover,
#finalize_purches:hover,
#bekraeftelse button:hover {
  cursor: pointer;
  background-color: #f2c0292a;
  transition: 0.2s ease-in;
}

#bekraeftelse h4:hover {
  color: var(--yellow);
  transition: 0.2s ease-in;
  cursor: pointer;
}

nav h1#logo:hover,
footer h1#logo1:hover {
  cursor: pointer;
  color: #ffffffbb;
  transition: all 0.2s ease-in-out;
}

body {
  background-image: var(--bgimage);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#top_nav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: var(--gold);
  padding-right: 3vw;
  padding-left: 3vw;
}

p#amount_in_basket {
  right: 2.5vw;
  top: 3vw;
  position: absolute;
  align-self: center;
}

div#right_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img#nav_icon {
  place-self: center;
}

i.fa.fa-toggle-off {
  display: flex;
  justify-content: center;
  align-items: center;
}
i.fa.fa-shopping-basket.link_basket {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_icon {
  width: 7.5vw;
}

nav img:hover,
nav .fa:hover,
footer img:hover,
footer .fa:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

p#amount_in_basket {
  z-index: 1;
}

/* //DROPDOWN
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000b2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
//DROPDOWN SLUT */

#tilbage {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

i.fa.fa-shopping-basket {
  align-self: center;
}

footer {
  background-color: var(--gold);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: space-around;
}

footer h1 {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: bold;
  color: white;
  font-size: 1.5rem;
  place-self: center;
}

.fa {
  padding: 1vh;
}

::before {
  color: white;
  font-size: 3vh;
}

#some,
#contact {
  align-self: center;
  display: flex;
}

#contact ::before,
#some ::before {
  font-size: 2.5vh;
}

i.fa.fa-caret-left {
  font-size: 0.1rem;
}

//-----------FONTS----------------//

#logo {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: bold;
  color: white;
  font-size: 1.5rem;
  place-self: center;
}

h1 {
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

h2 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
}

h3 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--white);
}

h4 {
  font-family: var(--sansserif_font);
  font-style: bold;
  color: var(--white);
}

p {
  font-family: var(--sansserif_font);
  font-style: normal;
  color: var(--white);
}

label {
  color: var(--yellow);
  font-family: var(--sansserif_font);
  font-weight: 700;
  font-size: 1.2rem;
}

p p {
  color: black;
}

//------------------------------------------//
//                 LIGHT MODE              //
//----------------------------------------//ø
#bekraeftelse h2,
#bekraeftelse h5 {
  color: var(--white);
}

p#amount_in_basket {
  color: white;
}

.more_body {
  background-color: var(--black);
}

/* 
//menu
.lightmode #beer_info h2,
.lightmode h2.basket_total_orders,
.lightmode #bekraeftelse h1 {
  border-color: #6b4f0c;
  color: #6b4f0c;
}

//menu
.lightmode #btns_container button,
.lightmode .add_to_basket,
.lightmode #button_container button,
button.link_basket.lightmode
//kurv
.cart_summary .lightmode button,
.lightmode #buy_button button,
//bekraeftelse
.lightmode #bekraeftelse button {
  border-color: #6b4f0c;
}

//menu
.lightmode p.alcohol_procent,
.lightmode h3.beer_price,
.lightmode #btns_container button,
.lightmode #btns_container p,
.lightmode .add_to_basket,
.lightmode .collapsible,
button.link_basket.lightmode,
//kurv
.lightmode p.basket_amount,
.lightmode .basket_line_total,
.lightmode p,
.lightmode span.total_amount_right.title,
.lightmode #buy_button button,
//bekraeftelse
.lightmode #bekraeftelse h2,
.lightmode #bekraeftelse h4,
.lightmode #bekraeftelse h5,
.lightmode #bekraeftelse button {
  color: black;
} */

//------------------------------------------//
//        GLOBAL NAVBAR MEDIAQUIRES        //
//----------------------------------------//

//mobile M
@media screen and (min-width: 375px) {
  #form_forside ::before,
  #bekraeftelse ::before,
  #betaling ::before,
  #kurv_page ::before,
  #menu_page ::before,
  #kvittering_page ::before {
    font-size: 3.5vh;
  }
}

//mobile L
@media screen and (min-width: 425px) {
  #form_forside ::before,
  #bekraeftelse ::before,
  #betaling ::before,
  #kurv_page ::before,
  #menu_page ::before,
  #kvittering_page ::before {
    font-size: 4.5vh;
  }

  img#nav_icon {
    width: 5.5vh;
  }

  p#amount_in_basket {
    right: 2.5vw;
    top: 1vw;
  }

  #contact ::before,
  #some ::before {
    font-size: 2.5vh;
  }
}

//tablet
@media screen and (min-width: 768px) {
  #form_forside ::before,
  #bekraeftelse ::before,
  #betaling ::before,
  #kurv_page ::before,
  #menu_page ::before,
  #kvittering_page ::before {
    font-size: 5.5vh;
  }

  img#nav_icon {
    width: 6.5vh;
  }

  p#amount_in_basket {
    right: 3vw;
    top: 0.7vw;
  }

  #contact ::before,
  #some ::before {
    font-size: 2.5vh;
    align-self: center;
  }
}

//laptop
@media screen and (min-width: 1024px) {
  img#nav_icon {
    width: 6.5vh;
  }

  p#amount_in_basket {
    right: 4vw;
    top: 0.7vw;
  }

  #contact ::before,
  #some ::before {
    font-size: 4.5vh;
    align-self: center;
  }
}

//laptop L
@media screen and (min-width: 1440px) {
  img#nav_icon {
    width: 6.5vh;
  }

  p#amount_in_basket {
    right: 4.5vw;
    top: 0.6vw;
  }
}

//random
@media screen and (min-width: 2000px) {
  p#amount_in_basket {
    right: 3.8vw;
    top: -0.4vw;
  }
}

//4k
@media screen and (min-width: 2560px) {
}

// //----------FRONTPAGE-----------------//

// #form_forside {
//   background-image: url(/img/form_frontpage.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
// }

// #form_forside #top_nav {
//   background-color: unset;
//   justify-content: space-between;
//   padding: 2vh;
//   width: 93vw;
// }

// #content_flex {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 15vh;
// }

// #content_flex h1,
// #content_flex h2,
// #content_flex #btn {
//   align-self: center;
// }

// #content_flex h1 {
//   line-height: 0vw;
//   font-size: 4rem;
// }

// #content_flex h2 {
//   color: white;
//   line-height: 0vw;
//   font-size: 2rem;
// }

// #btn {
//   padding-left: 9vh;
//   padding-right: 9vh;
//   border-radius: 24px;
//   border: solid;
//   border-color: var(--yellow);
//   background: transparent;
//   color: white;
//   font-family: "marydale";
//   font-weight: 900;
//   font-size: 1rem;
//   margin-top: 24vh;
// }

// //----------MENU-----------------//

// #beer_box {
//     display: grid;
//     grid-template-columns: 0.5fr 1.5fr;
// }

// #beer {
//   height: 25vh;
// }

// #beer_btns {
//   display: flex;
//   justify-content: end;
//   flex-direction: column;
//   padding-bottom: 2vh;
// }

// #btns_container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// #beer_box:first-of-type {
//   margin-top: 20vh;
// }

// //----------BEKRAEFTELSE-------------//
// #bekraeftelse #top_nav {
//   background-color: unset;
//   justify-content: space-between;
//   padding: 2vh;
//   width: 93vw;
// }

// #bekraeftelse {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 7vh;
// }

// #bekraeftelse h1 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   font-weight: 900;
//   font-style: normal;
//   font-size: 3rem;
//   color: var(--yellow);
// }

// #bekraeftelse h2 {
//   text-align: center;
//   font-family: var(--handwritten_font);
//   color: white;
//   margin-top: -4vh;
// }

// #bekraeftelse h3 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   color: var(--yellow);
//   font-size: 3rem;
//   line-height: 0;
// }

// #bekraeftelse p {
//   text-align: center;
//   font-family: var(--handwritten_font);
//   font-size: 0.9rem;
// }

// #bekraeftelse h4 {
//   text-align: center;
//   font-size: 0.5rem;
//   margin-top: 11vh;
// }

// #bekraeftelse h5 {
//   text-align: center;
//   font-family: var(--sansserif_font);
//   color: white;
//   line-height: 0;
//   margin-bottom: -1.5vh;
//   font-weight: 300;
//   font-style: normal;
//   font-size: 1.5rem;
// }

// #bekraeftelse button {
//   padding: 2vh 4vh;
// }

// /******Betaling******/

// #kort_oplysninger {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-top: 30vh;
// }

//------------------------------------------//
//                 MEDIAQUIRES             //
//----------------------------------------//
