@use 'partials/dashboard-tid';
@use 'partials/dashboard-bestillinger';
@use 'partials/dashboard-beholdning';
@use 'partials/dashboard-ko';
@use 'partials/dashboard-bartender';

:root {
  --handwritten_font: marydale, sans-serif;
  --sansserif_font: raleway, sans-serif;
  --yellow: #f2c029;
  --gold: #bf8b2a;
  --dark_overlay: #000000bb;
}

* {
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--sansserif_font);
  font-weight: 900;
  font-style: normal;
  color: var(--yellow);
  font-size: 5vh;
}

h2 {
  font-family: var(--handwritten_font);
  font-weight: 700;
  font-style: normal;
  color: var(--yellow);
  text-align: center;
  font-size: 1rem;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

h3 {
  font-family: var(--sansserif_font);
  font-weight: 600;
  font-style: normal;
  color: var(--yellow);
  font-size: 0.8rem;
}

h4 {
  font-family: var(--sansserif_font);
  font-style: bold;
  color: var(--yellow);
}

p {
  font-family: var(--sansserif_font);
  font-style: normal;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

.fa-gear::before,
.fa-cog::before {
  color: var(--yellow);
  font-size: 1.2rem;
}

#countdown {
  color: white;
  font-family: var(--sansserif_font);
  margin-bottom: 2vh;
}

#clock h3 {
  font-family: var(--handwritten_font);
}

.col_left h3 {
  font-family: var(--handwritten_font);
}

#queue_number {
  font-family: var(--sansserif_font);
  color: white;
  margin-left: 2vw;
}

.bartender_name {
  font-size: 1rem;
}

#portraet_tekst {
  font-family: var(--handwritten_font);
  font-weight: 900;
  font-style: normal;
  color: white;
  text-align: center;
}

//*******GENEREL******//

#portraetmode {
  background-color: rgba(0, 0, 0, 0.904);
  background-position: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

#portraet_tekst:first-child {
  margin-top: 80%;
}

body {
  background-image: url(/img/background.jpg);
  background-size: cover;
  // position: fixed;
  padding: 2vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

#top {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2.5fr;
  grid-gap: 2vw;
  margin-bottom: 2vh;
}

#bottom {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  grid-gap: 2vw;
  margin-bottom: 2vh;
}

.col-sm,
.col-sm1,
.col-sm2 {
  display: flex;
  align-items: start;
  height: 90%;
  padding: 2vh 1vw;
  background-color: var(--dark_overlay);
  border-radius: 25px;
}

.col-sm1,
.col-sm2 {
  padding: 2vh 2vw;
  height: 90%;
}

#clock,
#ready_orders,
#storage {
  width: 100%;
  height: 55vh;
}

#queue,
#bartenders {
  width: 100%;
  height: 25vh;
}

@media (orientation: portrait) {
  #portraetmode {
    display: unset;
  }
}

//SMALL PHONE
@media screen and (max-width: 570px) {
  //FONTS

  h2 {
    font-size: 1.2rem;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  h3 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.5rem;
  }

  .bartender_name {
    font-size: 0.9rem;
  }

  //GENEREL

  #clock,
  #ready_orders,
  #storage {
    height: 60vh;
  }

  #queue,
  #bartenders {
    height: 25vh;
  }
}

//BIG PHONE
@media screen and (min-width: 800px) {
  #queue,
  #bartenders {
    height: 30vh;
  }
}

//IPAD
@media screen and (min-width: 1000px) {
  //FONTS

  h1 {
    font-size: 4vh;
  }

  h2 {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .fa-gear::before,
  .fa-cog::before {
    font-size: 1.6rem;
  }

  .bartender_name {
    font-size: 1.4rem;
  }

  //GENEREL

  header {
    margin-bottom: 3vh;
  }

  #clock,
  #ready_orders,
  #storage {
    height: 50vh;
  }

  #queue,
  #bartenders {
    height: 25vh;
  }
}

//1280 - 800
@media screen and (min-width: 1260px) {
  //FONTS
  h2 {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .fa-gear::before,
  .fa-cog::before {
    font-size: 1.8rem;
  }

  .bartender_name {
    font-size: 1.6rem;
  }

  //GENEREL
  #clock,
  #ready_orders,
  #storage {
    height: 55vh;
  }

  #queue,
  #bartenders {
    height: 25vh;
  }
}

//1420 - 900
@media screen and (min-width: 1420px) {
  // //FONTS

  h2 {
    font-size: 2rem;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  .fa-gear::before,
  .fa-cog::before {
    font-size: 1.8rem;
  }

  .bartender_name {
    font-size: 1.8rem;
  }

  //GENEREL

  header {
    margin-bottom: 3vh;
  }

  #clock,
  #ready_orders,
  #storage {
    height: 48vh;
  }

  #queue,
  #bartenders {
    height: 25vh;
  }
}

//1530
@media screen and (min-width: 1530px) {
}

//1920 - 1080
@media screen and (min-width: 1900px) {
  //FONTS

  h1 {
    font-size: 4vh;
  }

  h2 {
    font-size: 2rem;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  .fa-gear::before,
  .fa-cog::before {
    font-size: 2.6rem;
  }

  .bartender_name {
    font-size: 2rem;
  }

  //GENEREL

  header {
    margin-bottom: 3vh;
  }

  #clock,
  #ready_orders,
  #storage {
    height: 45vh;
  }

  #queue,
  #bartenders {
    height: 25vh;
  }
}

//3440 - 1040
@media screen and (min-width: 3440px) {
  //FONTS

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.8rem;
  }

  .fa-gear::before,
  .fa-cog::before {
    font-size: 2.6rem;
  }

  .bartender_name {
    font-size: 2.4rem;
  }

  //GENEREL

  #clock,
  #ready_orders,
  #storage {
    height: 50vh;
  }

  #queue,
  #bartenders {
    height: 30vh;
  }
}
